.section-portfolio {
  background: #ffffff;

  .content-area {
    margin: 0 auto;
    max-width: 1170px;
    padding: 1.125rem;

    .portfolio-header {
      text-align: center;

      .portfolio-title {
        margin: 0;
        padding: 0;
      }
    }

    .portfolio-tabs {
      text-align: center;

      .data-items {
        display: flex;
        list-style-type: none;
        margin: 1.125rem;
        padding: 0;
        position: static;
        justify-content: center;


        .data-item {
          cursor: pointer;
          padding: 0.5rem;

          &.active {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 3px;
          }
        }
      }
    }

    .portfolio-content {
      .portfolio-items {
        display: grid;
        list-style-type: none;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.125rem;
        margin: 0;
        padding: 0;

        .portfolio-item {
          .wp-caption {
            text-align: center;

            &-text {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
