.section-portfolio {
  background: #ffffff;

  .content-area {
    margin: 0 auto;
    max-width: 1170px;
    padding: 1.125rem;

    .portfolio-header {
      text-align: center;

      .portfolio-title {
        margin: 0;
        padding: 0;
      }
    }

    .portfolio-tabs {
      text-align: center;

      .data-items {
        display: flex;
        list-style-type: none;
        margin: 1.125rem;
        padding: 0;
        position: static;
        justify-content: center;


        .data-item {
          cursor: pointer;
          padding: 0.5rem;

          &.active {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 3px;
          }
        }
      }
    }

    .portfolio-content {
      .portfolio-items {
        display: grid;
        list-style-type: none;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.125rem;
        margin: 0;
        padding: 0;

        .portfolio-item {
          .wp-caption {
            text-align: center;

            &-text {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

.textwidget {
  .github {
    display: none;
  }
}



.theme-info {
  border-collapse: collapse;
  font-size: 1rem;
  width: 100%;

  tr:nth-of-type( odd ) {
    background: #eeeeee;
  }

  th {
    border: 0.063rem solid #cccccc;
    padding: 0.2rem;
    text-align: left;
    width: 50%;


  }

  td {
    border: 0.063rem solid #cccccc;
    padding: 0.2rem;
    text-align: right;

    button {
      background: #0085ba;
      border-color: #0073aa #006799 #006799;
      font-family: font-family( primary );
      border-radius: 5px;
      font-size: 1rem;
      margin: 0.250rem;
      padding: 0.5rem 1rem;

      .fa-download {
        color: color( white );
      }

      a {
        color: color( white );
      }
    }
  }
}
