.section-portfolio {
  background: #ffffff;
}
.section-portfolio .content-area {
  margin: 0 auto;
  max-width: 1170px;
  padding: 1.125rem;
}
.section-portfolio .content-area .portfolio-header {
  text-align: center;
}
.section-portfolio .content-area .portfolio-header .portfolio-title {
  margin: 0;
  padding: 0;
}
.section-portfolio .content-area .portfolio-tabs {
  text-align: center;
}
.section-portfolio .content-area .portfolio-tabs .data-items {
  display: flex;
  list-style-type: none;
  margin: 1.125rem;
  padding: 0;
  position: static;
  justify-content: center;
}
.section-portfolio .content-area .portfolio-tabs .data-items .data-item {
  cursor: pointer;
  padding: 0.5rem;
}
.section-portfolio .content-area .portfolio-tabs .data-items .data-item.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
.section-portfolio .content-area .portfolio-content .portfolio-items {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.125rem;
  margin: 0;
  padding: 0;
}
.section-portfolio .content-area .portfolio-content .portfolio-items .portfolio-item .wp-caption {
  text-align: center;
}
.section-portfolio .content-area .portfolio-content .portfolio-items .portfolio-item .wp-caption-text {
  margin: 0;
  padding: 0;
}

.textwidget .github {
  display: none;
}

.theme-info {
  border-collapse: collapse;
  font-size: 1rem;
  width: 100%;
}
.theme-info tr:nth-of-type(odd) {
  background: #eeeeee;
}
.theme-info th {
  border: 0.063rem solid #cccccc;
  padding: 0.2rem;
  text-align: left;
}
.theme-info td {
  border: 0.063rem solid #cccccc;
  padding: 0.2rem;
  text-align: right;
}
.theme-info td button {
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
  border: none;
  font-family: font-family(primary);
  font-size: 1rem;
  padding: 0.7rem 1rem;
  width: 100%;
}
.theme-info td button .fa-download {
  color: color(white);
}
.theme-info td button a {
  color: color(white);
}
